@model IEnumerable<FacturacionLabco_Models.Vehiculo>
@{
    ViewData["Title"] = "Index";
    Layout = null;
}
<link rel="stylesheet" href="~/css/Vehiculo.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<title>Vehículo</title>
<link rel="icon" type="image/png" href="Imagenes/logo-Labco.png">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous">
<body>
    <!-- Barra lateral -->
    <div class="d-flex flex-column vh-100 p-3 bg-white shadow-sm menu">
        <!-- Logo -->
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto justify-content-center">
            <div class="logo">
                <img src="~/Imagenes/labco.png" alt="LABCO Logo">
            </div>
        </a>
        <hr>
        <div class="container-fluid">
            <!-- Menú de navegación -->
            <ul class="nav nav-pills flex-column mb-auto">
                <!-- Opción Factura -->
                <li class="nav-item">
                    <a asp-area="" asp-controller="Factura" asp-action="Index" class="d-flex align-items-center justify-content-center">
                        <i class="bi bi-file-earmark-bar-graph"></i>
                        <span class="fs-5 ms-2 d-none d-sm-inline">Factura</span>
                    </a>
                </li>
                <!-- Opción Cliente -->
                <li class="nav-item">
                    <a asp-area="" asp-controller="Cliente" asp-action="Index" class="d-flex align-items-center justify-content-center">
                        <i class="bi bi-person-fill"></i>
                        <span class="fs-5 ms-2 d-none d-sm-inline">Cliente</span>
                    </a>
                </li>
                <!-- Opción Trabajadores -->
                <li class="nav-item">
                    <a asp-area="" asp-controller="Trabajador" asp-action="Index" class="d-flex align-items-center justify-content-center">
                        <i class="bi bi-people-fill"></i>
                        <span class="fs-5 ms-2 d-none d-sm-inline">Trabajador</span>
                    </a>
                </li>
                <!-- Opción Vehículo -->
                <li class="nav-item">
                    <a asp-area="" asp-controller="Vehiculo" asp-action="Index" class="d-flex align-items-center justify-content-center">
                        <i class="bi bi-car-front-fill"></i>
                        <span class="fs-5 ms-2 d-none d-sm-inline">Vehículo</span>
                    </a>
                </li>

                <!-- Opción Marca -->
                <li class="nav-item">
                    <a asp-area="" asp-controller="Marca" asp-action="Index" class="d-flex align-items-center justify-content-center">
                        <i class="bi bi-substack"></i>
                        <span class="fs-5 ms-2 d-none d-sm-inline">Marca</span>
                    </a>
                </li>
                <!-- Opción Productos -->
                <li class="nav-item">
                    <a asp-area="" asp-controller="Producto" asp-action="Index" class="d-flex align-items-center justify-content-center">
                        <i class="bi bi-clipboard-check-fill"></i>
                        <span class="fs-5 ms-2 d-none d-sm-inline">Productos</span>
                    </a>
                </li>
                <!-- Opción Logout -->
                <li class="nav-item">
                    <a href="#" class="d-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#ModalMensajeAdvertencia">
                        <i class="bi bi-box-arrow-right"></i>
                        <span class="fs-5 ms-2 d-none d-sm-inline">Logout</span>
                    </a>
                </li>
            </ul>
            <!-- Modal Mensaje Advertencia -->
            <div class="modal " id="ModalMensajeAdvertencia" tabindex="-1" aria-labelledby="ModalMensajeAdvertencia"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="container-modal1 text-center">
                                <div class="row justify-content-center">
                                    <div class="col-12">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="129" height="129" fill="#771019" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                                            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0
                                                .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                                        </svg>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-12">
                                        <h5 class="text-custom1">¿Desea Realizar la acción?</h5>
                                    </div>
                                </div>
                                <!-- Formulario de logout -->
                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                    <div class="row botones">
                                        <div class="col-6 d-flex justify-content-end">
                                            <button class="btn btn-light d-flex align-items-center justify-content-center"
                                                    type="submit">
                                                Confirmar
                                            </button>
                                        </div>
                                        <div class="col-6 d-flex">
                                            <button type="button" class="btn btn-anular d-flex align-items-center justify-content-center"
                                                    data-bs-dismiss="modal" aria-label="Close">
                                                Anular
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid container-custom">
        <div class="row mb-4">
            <div class="col-12 col-md-6 d-flex align-items-center">
                <div class="volver">
                    <h5>Buscar Vehiculo</h5>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-md-8">
                <div class="d-flex align-items-center">
                    <div class="form-check me-3">
                        <input class="form-check-input" type="radio" name="FiltroNombreDueño" id="FiltroNombreDueño" value="FiltroNombreDueño">
                        <label class="form-check-label" for="NombreDueño">
                            Nombre del Dueño
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="FiltroPlaca" id="FiltroPlaca" value="FiltroPlaca">
                        <label class="form-check-label" for="Placa">
                            Placa
                        </label>
                    </div>
                </div>
                <div class="mb-4">
                </div>
                <input id="BuscarVehiculo" type="text" class="form-control" placeholder="Buscar Vehiculo" onkeyup="filtrarTabla()">
            </div>
            <div class="col-12 col-md-3 text-start mt-5">
                <div class="modal modal-lg" id="ModalVehiculo" tabindex="-1" aria-labelledby="ModalVehiculo" style="display: none;"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="d-flex">
                                    <div class="volver">
                                        <button type="button" class="modalvolver" data-bs-dismiss="modal" aria-label="Close">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                                                <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z" />
                                            </svg>
                                            <h1 class="modal-title fs-5" id="ModalVehiculoTitulo">Agregar Vehiculo</h1>
                                        </button>
                                    </div>
                                    <div class="col-12 col-md-6 text-start user-info">
                                        <img src="https://via.placeholder.com/40" alt="User Avatar" class="avatar">
                                        <span class="user-name">Messi</span>
                                    </div>
                                </div>
                                <div class="container-modal">
                                    <form asp-controller="Vehiculo" asp-action="Upsert" id="FormVehi" method="post">
                                        <div class="row">
                                            <div class="col text-start">
                                                <h8>Datos del Vehiculo</h8>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <!-- Columna izquierda -->
                                            <div class="col-6">
                                                <div class="row mb-3">
                                                    <div class="col-5 text-start">
                                                        <h9>Placa</h9>
                                                    </div>
                                                    <div class="col-7">
                                                        <input name="Vehiculo.Placa" class="form-control input-custom">
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-5 text-start">
                                                        <h9>VIN</h9>
                                                    </div>
                                                    <div class="col-7">
                                                        <input name="Vehiculo.VIN" class="form-control input-custom">
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-5 text-start">
                                                        <h9>Modelo</h9>
                                                    </div>
                                                    <div class="col-7">
                                                        <input name="Vehiculo.NombreModelo" class="form-control input-custom">
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div>
                                                        <div class="d-flex align-items-center mb-2 unidad-medida-container">
                                                            <label class="form-check-label me-2 text-green label-ajustado">Kilómetros</label>
                                                            <input type="radio" class="form-check-input" name="Vehiculo.TipoDistancia" id="kilometros" value="true">
                                                            <label class="form-check-label ms-3 me-2 text-green label-ajustado">Millas</label>
                                                            <input type="radio" class="form-check-input" name="Vehiculo.TipoDistancia" id="millas" value="Millas">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Columna derecha -->
                                            <div class="col-6">
                                                <div class="row mb-3">
                                                    <div class="col-5 text-start">
                                                        <label for="marca" class="form-label">Marca</label>
                                                    </div>
                                                    <div class="col-7">
                                                        
                                                        <div class="input-group">
                                                            <input type="hidden" id="MarcaId" name="Vehiculo.MarcaId" />
                                                            <input type="text" id="Nombre" class="form-control" placeholder="Seleccionar" readonly>
                                                            <button class="btn btn-outline-secondary btn-inside-input" type="button" data-bs-toggle="modal" data-bs-target="#ModalMarca" id="#ModalMarca">
                                                                <i class="fas fa-search">+</i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-5 text-start">
                                                        <h9>Año</h9>
                                                    </div>
                                                    <div class="col-7">
                                                        <input name="Vehiculo.Anno" class="form-control input-custom">
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-5 text-start">
                                                        <label for="cliente" class="form-label">Cliente</label>
                                                    </div>
                                                    <div class="col-7"> 
                                                        <div class="input-group">
                                                            <input type="hidden" id="clienteId" name="Vehiculo.ClienteId" />
                                                            <input type="text" id="NombreCliente" class="form-control" placeholder="Seleccionar" readonly>
                                                            <input type="hidden" id="PrimerApellido" value="" />
                                                            <input type="hidden" id="SegundoApellido" value="" />
                                                            <button class="btn btn-outline-secondary btn-inside-input" type="button" data-bs-toggle="modal" data-bs-target="#ModalCliente" id="#ModalCliente">
                                                                <i class="fas fa-search">+</i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-5 text-start">
                                                        <h9>Distancia</h9>
                                                    </div>
                                                    <div class="col-7">
                                                        <input name="Vehiculo.DistanciaRecorrida" class="form-control input-custom">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row botones">
                                            <div class="col-6 d-flex justify-content-end">
                                                <button type="button" class="btn btn-anular d-flex align-items-center justify-content-center"
                                                        data-bs-dismiss="modal" aria-label="Close">
                                                    Anular
                                                </button>
                                            </div>
                                            <div class="col-6 d-flex">
                                                <button type="submit" class="btn btn-light d-flex align-items-center justify-content-center"
                                                        data-bs-dismiss="modal" aria-label="Close">
                                                    Guardar
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-success btn-mt-3" type="button" data-bs-toggle="modal" data-bs-target="#ModalVehiculo">Crear +</button>
            </div>
        </div>

        @if (Model.Any())
        {

            <div class="table-responsive ">
                <table class="table table-bordered table-hover table-custom" id="TablaVehiculo">
                    <thead>
                        <tr>
                            <th class="text-nowrap">Dueño</th>
                            <th class="text-nowrap">Placa</th>
                            <th class="text-nowrap">Marca</th>
                            <th class="text-nowrap">Modelo</th>
                            <th class="text-nowrap">Año</th>
                            <th class="text-nowrap">VIN</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr data-id="@item.Id" data-tipodistancia="@item.TipoDistancia" data-distancia="@item.DistanciaRecorrida" 
                            data-dueno="@item.ClienteId" data-placa="@item.Placa" data-marca="@item.MarcaId" data-modelo="@item.NombreModelo"
                            data-anno="@item.Anno" data-vin="@item.VIN" onclick="seleccionarFila(this)">
                                <td class="Dueño">@item.Cliente?.Nombre @item.Cliente?.PrimerApellido @item.Cliente?.SegundoApellido</td>
                                <td class="Placa">@item.Placa</td>
                                <td class="Marca">@item.Marca?.Nombre_Marca</td>
                                <td class="Modelo">@item.NombreModelo</td>
                                <td class="Año">@item.Anno</td>
                                <td class="VIN">@item.VIN</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>No hay registro de Vehiculos</p>
        }



        <div class="col-12 text-end">
            <div class="actions d-flex justify-content-start">
                <button id="btnModificarVehiculo" class="btn btn-custom" type="button" data-bs-toggle="modal" data-bs-target="#ModalEditarVehiculo">Modificar</button>
                <button class="btn btn-custom2" type="button" data-bs-toggle="modal" data-bs-target="#ModalEliminarVehiculo">Eliminar</button>
            </div>
        </div>

        <div class="modal modal-lg" id="ModalEditarVehiculo" tabindex="-1" aria-labelledby="ModalVehiculo" style="display: none;"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="d-flex">
                            <div class="volver">
                                <button type="button" class="modalvolver" data-bs-dismiss="modal" aria-label="Close">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                                        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z" />
                                    </svg>
                                    <h1 class="modal-title fs-5" id="ModalVehiculoTitulo">Editar Vehiculo</h1>
                                </button>
                            </div>
                            <div class="col-12 col-md-6 text-start user-info">
                                <img src="https://via.placeholder.com/40" alt="User Avatar" class="avatar">
                                <span class="user-name">Messi</span>
                            </div>
                        </div>
                        <div class="container-modal">
                            <form asp-controller="Vehiculo" asp-action="Upsert" id="FormEditVehi" method="post">
                                <input type="hidden" id="vehiculoId" name="ID" value="" />
                                <div class="row">
                                    <div class="col text-start">
                                        <h8>Datos del Vehiculo</h8>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- Columna izquierda -->
                                    <div class="col-6">
                                        <div class="row mb-3">
                                            <div class="col-5 text-start">
                                                <h9>Placa</h9>
                                            </div>
                                            <div class="col-7">
                                                <input id="placa" name="Vehiculo.Placa" class="form-control input-custom">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-5 text-start">
                                                <h9>VIN</h9>
                                            </div>
                                            <div class="col-7">
                                                <input id="vin" name="Vehiculo.VIN" class="form-control input-custom">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-5 text-start">
                                                <h9>Modelo</h9>
                                            </div>
                                            <div class="col-7">
                                                <input id="modelo" name="Vehiculo.NombreModelo" class="form-control input-custom">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div>
                                                <div class="d-flex align-items-center mb-2 unidad-medida-container">
                                                    <label class="form-check-label me-2 text-green label-ajustado">Kilómetros</label>
                                                    <input type="radio" class="form-check-input" name="Vehiculo.TipoDistancia" id="kilometros" value="true">
                                                    <label class="form-check-label ms-3 me-2 text-green label-ajustado">Millas</label>
                                                    <input type="radio" class="form-check-input" name="Vehiculo.TipoDistancia" id="millas" value="Millas">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Columna derecha -->
                                    <div class="col-6">
                                        <div class="row mb-3">
                                            <div class="col-5 text-start">
                                                <label for="marca" class="form-label">Marca</label>
                                            </div>
                                            <div class="col-7">

                                                <div class="input-group">
                                                    <input type="hidden" id="Nombre" />
                                                    <input type="text" id="marca" name="Vehiculo.MarcaId" class="form-control" placeholder="Seleccionar">
                                                    <button class="btn btn-outline-secondary btn-inside-input" type="button" data-bs-toggle="modal" data-bs-target="#ModalMarca" id="#ModalMarca">
                                                        <i class="fas fa-search">+</i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-5 text-start">
                                                <h9>Año</h9>
                                            </div>
                                            <div class="col-7">
                                                <input id="anno" name="Vehiculo.Anno" class="form-control input-custom">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-5 text-start">
                                                <label for="cliente" class="form-label">Cliente</label>
                                            </div>
                                            <div class="col-7">
                                                <input type="hidden" id="NombreCliente" />
                                                <div class="input-group">
                                                    <input type="text" id="cliente" class="form-control" name="Vehiculo.ClienteId" placeholder="Seleccionar">
                                                    <input type="hidden" id="PrimerApellido" value="" />
                                                    <input type="hidden" id="SegundoApellido" value="" />
                                                    <button class="btn btn-outline-secondary btn-inside-input" type="button" data-bs-toggle="modal" data-bs-target="#ModalCliente" id="#ModalCliente">
                                                        <i class="fas fa-search">+</i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-5 text-start">
                                                <h9>Distancia pene</h9>
                                            </div>
                                            <div class="col-7">
                                                <input id="distancia" name="Vehiculo.DistanciaRecorrida" class="form-control input-custom">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row botones">
                                    <div class="col-6 d-flex justify-content-end">
                                        <button type="button" class="btn btn-anular d-flex align-items-center justify-content-center"
                                                data-bs-dismiss="modal" aria-label="Close">
                                            Anular
                                        </button>
                                    </div>
                                    <div class="col-6 d-flex">
                                        <button type="submit" class="btn btn-light d-flex align-items-center justify-content-center"
                                                data-bs-dismiss="modal" aria-label="Close">
                                            Guardar
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <!-- Modal Principal Cliente -->
        <div class="modal" id="ModalCliente" tabindex="-1" aria-labelledby="ModalClienteLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-body fondo">
                        <div class="container-fluid">
                            <!-- Encabezado -->
                            <div class="row mb-4">
                                <div class="col-12 col-md-6 d-flex align-items-center">
                                    <div class="volver">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                                            <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z" />
                                        </svg>
                                        <h5>Buscar Cliente</h5>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 text-end user-info">
                                    <img src="https://via.placeholder.com/40" alt="User Avatar" class="avatar">
                                    <span class="user-name">User</span>
                                </div>
                            </div>

                            <!-- Radio y campo de búsqueda -->
                            <div class="row mb-3">
                                <div class="col-12 col-md-8">
                                    <div class="d-flex align-items-center">
                                        <div class="form-check me-3">
                                            <input class="form-check-input" type="radio" name="searchOption" id="searchByName" value="name" checked>
                                            <label class="form-check-label" for="searchByName">Nombre</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="searchOption" id="searchByCedula" value="cedula">
                                            <label class="form-check-label" for="searchByCedula">Cédula</label>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control mt-2" placeholder="Buscar Cliente">
                                </div>
                                <div class="col-12 col-md-3 mt-4">
                                    <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#ModalClienteAgregar">Crear +</button>
                                </div>
                            </div>

                            <!-- Tabla -->
                            @if (ViewBag.Clientes != null)
                            {
                                <div class="table-responsive ">
                                    <table class="table table-bordered table-hover table-custom" id="TablaClientes">
                                        <thead>
                                            <tr>
                                                <th class="text-nowrap">Cedula</th>
                                                <th class="text-nowrap">Nombre</th>
                                                <th class="text-nowrap">Correo</th>
                                                <th class="text-nowrap">Telefono</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in ViewBag.Clientes)
                                            {
                                                <tr data-id="@item.Id" data-cedula="@item.Cedula" data-nombre="@item.Nombre"
                                                    data-primerapellido="@item.PrimerApellido" data-segundoapellido="@item.SegundoApellido"
                                                    data-correo="@item.Correo" data-telefono="@item.Telefono" onclick="seleccionarFila(this)">
                                                    <td class="Cedula">@item.Cedula</td>
                                                    <td class="Nombre">@item.Nombre @item.PrimerApellido @item.SegundoApellido</td>
                                                    <td class="Correo">@item.Correo</td>
                                                    <td class="Telefono">@item.Telefono</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                            else
                            {
                                <p>No hay registro de trabajadores</p>
                            }

                            <!-- Acciones -->
                            <div class="col-12 text-end">
                                <div class="actions d-flex justify-content-start">
                                    <button class="btn btn-custom" type="button" id="btnSeleccionarClientes">Modificar</button>
                                    <button class="btn btn-custom2" type="button" data-bs-toggle="modal" data-bs-target="#ModalVehiculo" aria-label="close">Eliminar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Principal Marca -->
    <div class="modal" id="ModalMarca" tabindex="-1" aria-labelledby="ModalMarcaLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-body fondo">
                    <div class="container-fluid">
                        <!-- Encabezado -->
                        <div class="row mb-4">
                            <div class="col-12 col-md-6 d-flex align-items-center">
                                <div class="volver">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                                        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z" />
                                    </svg>
                                    <h5>Buscar Marca</h5>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 text-end user-info">
                                <img src="https://via.placeholder.com/40" alt="User Avatar" class="avatar">
                                <span class="user-name">User</span>
                            </div>
                        </div>

                        <!-- Radio y campo de búsqueda -->
                        <div class="row mb-3">
                            <div class="col-12 col-md-8">
                                <div class="d-flex align-items-center">
                                    <div class="form-check me-3">
                                        <input class="form-check-input" type="radio" name="searchOption" id="searchByName" value="name" checked>
                                        <label class="form-check-label" for="searchByName">Nombre de la marca</label>
                                    </div>
                                </div>
                                <input type="text" class="form-control mt-2" placeholder="Buscar Marca">
                            </div>
                        </div>

                        <!-- Tabla -->
                        @if (ViewBag.Marcas != null)
                        {
                            <div class="table-responsive ">
                                <table class="table table-bordered table-hover table-custom" id="TablaMarca">
                                    <thead>
                                        <tr>
                                            <th class="text-nowrap">ID</th>
                                            <th class="text-nowrap">Nombre Marca</th>
                                        </tr>
                                    </thead>
                                    @foreach (var item in ViewBag.Marcas)
                                    {
                                        <tbody>
                                            <tr data-id="@item.Id" data-nombre="@item.Nombre_Marca">
                                                <td class="ID">@item.Id</td>
                                                <td class="Nombre">@item.Nombre_Marca</td>
                                            </tr>
                                        </tbody>
                                    }
                                </table>
                            </div>
                        }
                        else
                        {
                            <p>No hay marcas creadas</p>
                        }

                        <!-- Acciones -->
                        <div class="col-12 text-end">
                            <div class="actions d-flex justify-content-start">
                                <button class="btn btn-custom" type="button" id="btnSeleccionarMarca">Seleccionar</button>
                                <button class="btn btn-custom2" type="button" data-bs-toggle="modal" data-bs-target="#ModalVehiculo" aria-label="close">Salir</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>
<script src="~/js/JavaScript.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
<script>
    // Espera a que todo el DOM se cargue completamente antes de ejecutar el script
    document.addEventListener('DOMContentLoaded', () => {

        // Obtiene la referencia de la tabla de productos
        const table = document.getElementById('TablaMarca');
        // Obtiene la referencia del botón que abre el modal para modificar productos
        const btnModificar = document.getElementById('btnSeleccionarMarca');

        // Variable para almacenar la fila seleccionada actualmente
        let selectedRow = null;

        // Agrega un evento de clic a la tabla para detectar cuando se selecciona una fila
        table.addEventListener('click', (event) => {
            // Obtiene la fila (<tr>) más cercana al elemento que fue clickeado
            const row = event.target.closest('tr');

            // Si se clickea una fila válida (no nula)
            if (row) {
                // Si ya hay una fila seleccionada previamente, remueve el estilo de selección
                if (selectedRow) {
                    selectedRow.classList.remove('table-active');
                }

                // Marca la fila clickeada como seleccionada
                selectedRow = row;
                selectedRow.classList.add('table-active'); // Agrega la clase CSS para el estilo de selección
            }
        });

        // Agrega un evento al botón "Modificar" para rellenar el modal con los datos de la fila seleccionada
        btnModificar.addEventListener('click', () => {
            if (!selectedRow) {
                alert('Por favor selecciona un trabajador primero.');
                return;
            }

            const id = selectedRow.dataset.id;            // ID
            const nombre = selectedRow.dataset.nombre;    // Nombre

            console.log('ID:', id);
            console.log('Nombre:', nombre);

            document.getElementById('MarcaId').value = id;
            document.getElementById('Nombre').value = nombre;
        });
    });
</script>
<script>
    // Espera a que todo el DOM se cargue completamente antes de ejecutar el script
    document.addEventListener('DOMContentLoaded', () => {

        // Obtiene la referencia de la tabla de productos
        const table = document.getElementById('TablaClientes');
        // Obtiene la referencia del botón que abre el modal para modificar productos
        const btnModificar = document.getElementById('btnSeleccionarClientes');

        // Variable para almacenar la fila seleccionada actualmente
        let selectedRow = null;

        // Agrega un evento de clic a la tabla para detectar cuando se selecciona una fila
        table.addEventListener('click', (event) => {
            // Obtiene la fila (<tr>) más cercana al elemento que fue clickeado
            const row = event.target.closest('tr');

            // Si se clickea una fila válida (no nula)
            if (row) {
                // Si ya hay una fila seleccionada previamente, remueve el estilo de selección
                if (selectedRow) {
                    selectedRow.classList.remove('table-active');
                }

                // Marca la fila clickeada como seleccionada
                selectedRow = row;
                selectedRow.classList.add('table-active'); // Agrega la clase CSS para el estilo de selección
            }
        });

        // Agrega un evento al botón "Modificar" para rellenar el modal con los datos de la fila seleccionada
        btnModificar.addEventListener('click', () => {
            // Si no hay ninguna fila seleccionada, muestra un mensaje de alerta y detiene el flujo
            if (!selectedRow) {
                alert('Por favor selecciona un trabajador primero.');
                return;
            }

            // Obtiene los valores de los atributos personalizados (dataset) de la fila seleccionada
            const id = selectedRow.dataset.id;            // ID
            const nombre = selectedRow.dataset.nombre;    // Nombre
            const primerapellido = selectedRow.dataset.primerapellido;    // Apellido1
            const segundoapellido = selectedRow.dataset.segundoapellido    // Apellido2

            // Asigna los valores obtenidos a los campos del formulario dentro del modal
            document.getElementById('clienteId').value = id;
            document.getElementById('NombreCliente').value = nombre + ' ' + primerapellido + ' ' + segundoapellido;
            document.getElementById('PrimerApellido').value = primerapellido;
            document.getElementById('SegundoApellido').value = segundoapellido;// Campo de texto/numérico para el telefono

        });
    });
</script>
<script>
    function filtrarTabla() {
        // Obtén el texto ingresado en el campo de búsqueda y conviértelo a minúsculas para hacer la búsqueda insensible a mayúsculas/minúsculas.
        const filtro = document.getElementById("BuscarVehiculo").value.toLowerCase();

        // Obtén la referencia de la tabla donde se realizará el filtrado.
        const tabla = document.getElementById("TablaVehiculo");

        // Obtén todas las filas de la tabla (<tr>), incluyendo encabezados y datos.
        const filas = tabla.getElementsByTagName("tr");

        // Verifica si el checkbox "Nombre" está seleccionado (para filtrar solo por esa columna).
        const filtrarPorNombre = document.getElementById("FiltroNombreDueño").checked;
        const filtrarPorPlaca = document.getElementById("FiltroNombreDueño").checked;

        // Itera sobre todas las filas de la tabla, comenzando desde el índice 1 para saltar la fila de encabezado.
        for (let i = 1; i < filas.length; i++) {
            // Obtén todas las celdas (<td>) de la fila actual.
            const celdas = filas[i].getElementsByTagName("td");

            // Variable para determinar si esta fila debe mostrarse o no.
            let mostrarFila = false;

            // Si el checkbox "Nombre" está seleccionado:
            if (filtrarPorNombre) {
                // Verifica si el contenido de la celda en la columna 0 (Nombre) incluye el texto ingresado en el filtro.
                if (celdas[0] && celdas[0].innerText.toLowerCase().includes(filtro)) {
                    mostrarFila = true; // Marca esta fila para ser mostrada.
                }
            } else {
                // Si el checkbox "Nombre" NO está seleccionado, busca el texto en todas las columnas de la fila.
                for (let j = 0; j < celdas.length; j++) {
                    // Verifica si la celda existe y contiene el texto buscado.
                    if (celdas[j] && celdas[j].innerText.toLowerCase().includes(filtro)) {
                        mostrarFila = true; // Marca esta fila para ser mostrada.
                        break; // Detén la búsqueda en esta fila, ya que se encontró una coincidencia.
                    }
                }
            }

            if (filtrarPorPlaca) {
                // Verifica si el contenido de la celda en la columna 0 (Nombre) incluye el texto ingresado en el filtro.
                if (celdas[0] && celdas[0].innerText.toLowerCase().includes(filtro)) {
                    mostrarFila = true; // Marca esta fila para ser mostrada.
                }
            } else {
                // Si el checkbox "Nombre" NO está seleccionado, busca el texto en todas las columnas de la fila.
                for (let j = 0; j < celdas.length; j++) {
                    // Verifica si la celda existe y contiene el texto buscado.
                    if (celdas[j] && celdas[j].innerText.toLowerCase().includes(filtro)) {
                        mostrarFila = true; // Marca esta fila para ser mostrada.
                        break; // Detén la búsqueda en esta fila, ya que se encontró una coincidencia.
                    }
                }
            }

            // Si se encontró coincidencia (mostrarFila es true), muestra la fila; de lo contrario, ocúltala.
            filas[i].style.display = mostrarFila ? "" : "none";
        }
    }
</script>
<script>
    // Espera a que todo el DOM se cargue completamente antes de ejecutar el script
    document.addEventListener('DOMContentLoaded', () => {

        // Obtiene la referencia de la tabla de productos
        const table = document.getElementById('TablaVehiculo');
        // Obtiene la referencia del botón que abre el modal para modificar productos
        const btnModificar = document.getElementById('btnModificarProducto');

        // Variable para almacenar la fila seleccionada actualmente
        let selectedRow = null;

        // Agrega un evento de clic a la tabla para detectar cuando se selecciona una fila
        table.addEventListener('click', (event) => {
            // Obtiene la fila (<tr>) más cercana al elemento que fue clickeado
            const row = event.target.closest('tr');

            // Si se clickea una fila válida (no nula)
            if (row) {
                // Si ya hay una fila seleccionada previamente, remueve el estilo de selección
                if (selectedRow) {
                    selectedRow.classList.remove('table-active');
                }

                // Marca la fila clickeada como seleccionada
                selectedRow = row;
                selectedRow.classList.add('table-active'); // Agrega la clase CSS para el estilo de selección
            }
        });

        // Agrega un evento al botón "Modificar" para rellenar el modal con los datos de la fila seleccionada
        btnModificar.addEventListener('click', () => {
            // Si no hay ninguna fila seleccionada, muestra un mensaje de alerta y detiene el flujo
            if (!selectedRow) {
                alert('Por favor selecciona un producto primero.');
                return;
            }

            // Obtiene los valores de los atributos personalizados (dataset) de la fila seleccionada
            const id = selectedRow.dataset.id;            // ID del producto
            const tipodistancia = selectedRow.dataset.tipodistancia;    // Nombre del producto
            const distancia = selectedRow.dataset.distancia;      // Stock del producto
            const dueno = selectedRow.dataset.dueno;    // Precio del producto
            const placa = selectedRow.dataset.placa;            // ID del producto
            const marca = selectedRow.dataset.marca;    // Nombre del producto
            const modelo = selectedRow.dataset.modelo;      // Stock del producto
            const anno = selectedRow.dataset.anno;    // Precio del producto
            const vin = selectedRow.dataset.vin;    // Precio del producto

            // Asigna los valores obtenidos a los campos del formulario dentro del modal
            document.getElementById('vehiculoId').value = id; // Campo oculto para el ID
            document.getElementById('tipodistancia').value = tipodistancia; // Campo de texto para el nombre
            document.getElementById('distancia').value = distancia;        // Campo de texto/numérico para el stock
            document.getElementById('cliente').value = dueno;      // Campo de texto/numérico para el precio
            document.getElementById('placa').value = placa; // Campo oculto para el ID
            document.getElementById('marca').value = marca; // Campo de texto para el nombre
            document.getElementById('modelo').value = modelo;        // Campo de texto/numérico para el stock
            document.getElementById('cliente').value = dueno;      // Campo de texto/numérico para el precio
        });
    });
</script>